<template>
    <div class="container">
        <h1>Login</h1>
        <form v-on:submit.prevent="login">
            <input type="text" placeholder="Email o Phone" class="form-control my-2" v-model="user.username">
            <input type="password" placeholder="Password" class="form-control my-2" v-model="user.password">
            <b-button class="btn-block" type="submit">Access</b-button>
        </form>
        <div v-if="message != ''">
            <p>{{message}}</p>
        </div>
    </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
    data() {
        return {
            // Testing user.
            user: {username: 'test6@test.com', password: 'test6'},
            // user: {username: '', password: ''},
            message: ''
        }
    },
    methods: {
        ...mapActions(['saveUser']),

        login() {
            // console.log(this.user);
            this.axios.post('/auth', this.user)
            .then(res => {
                const token = res.data.token;
                this.saveUser(token);
                //console.log(token);
                
            })
            .catch(e => {
                // console.log(e.response.data.error); 
                this.message = e.response.data.error;
            })
        }
    }
}
</script>