<template>
  <div class="container">
    <h1>Users</h1>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="mensaje.color"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >{{ mensaje.texto }}</b-alert>

    <form v-on:submit.prevent="editUser(userEdit)" v-if="edit">
      <h3>Edit User</h3>
      <input type="email" class="form-control my-2" placeholder="Email" v-model="userEdit.email" />
      <input type="tel" class="form-control my-2" placeholder="Phone" v-model="userEdit.phone" />
      <input
        type="text"
        class="form-control my-2"
        placeholder="First Name"
        v-model="userEdit.firstname"
      />
      <input
        type="text"
        class="form-control my-2"
        placeholder="Last Name"
        v-model="userEdit.lastname"
      />

      <b-button class="btn-warning m-2" type="submit">Edit</b-button>
      <b-button class="my-2" type="button" @click="edit=false">Cancel</b-button>
    </form>

    <form v-on:submit.prevent="addUser()" v-if="!edit">
      <h3>Add User</h3>
      <input type="email" class="form-control my-2" placeholder="Email" v-model="user.email" />
      <input type="tel" class="form-control my-2" placeholder="Phone" v-model="user.phone" />
      <input
        type="text"
        class="form-control my-2"
        placeholder="First Name"
        v-model="user.firstname"
      />
      <input type="text" class="form-control my-2" placeholder="Last Name" v-model="user.lastname" />
      <input
        type="password"
        class="form-control my-2"
        placeholder="Password"
        v-model="user.password"
      />
      <b-button class="btn-success my-2 btn-block" type="submit">Add</b-button>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in users" :key="index">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.firstname }}</td>
          <td>{{ item.lastname }}</td>
          <td>{{ item.email }}</td>
          <!-- <td><b-button @click="alerta()">Action</b-button></td> -->
          <td>
            <b-button @click="deletedUser(item.id)" class="btn-danger btn-sm mx-2">Deleted</b-button>
            <b-button @click="activeEditionUser(item.id)" class="btn-warning btn-sm">Edit</b-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      users: [],
      dismissSecs: 5,
      dismissCountDown: 0,
      mensaje: { color: "", texto: "" },
      user: { email: "", phone: "", firstname: "", lastname: "", password: "" },
      userEdit: {},
      edit: false
    };
  },
  computed: {
    ...mapState(["token"])
  },
  created() {
    this.listUsers();
  },
  methods: {
    /*     alerta() {
      this.mensaje.color = "danger";
      this.mensaje.texto = "Visita www.xvideos.com";
      this.showAlert();
    }, */
    listUsers() {
      let config = {
        headers: {
          Authorization: "Bearer " + this.token
        }
      };

      this.axios
        .get("/users", config)
        .then(res => {
          this.users = res.data;
        })
        .catch(e => {
          console.log(e.response);
        });
    },
    addUser() {
      // Parche de error pendejo en Vue.js
      if (this.edit) {
      let config = {
        headers: {
          Authorization: "Bearer " + this.token
        }
      };
      this.axios
        .post("/users", this.user, config)
        .then(res => {
          this.users.push(res.data);
          // For each for clean form.
          Object.keys(this.user).forEach(key => {
            this.user[key] = "";
          });
          this.listUsers();

          this.mensaje.color = "success";
          this.mensaje.texto = "¡Usuario Agregado Correctamente!";
          this.showAlert();
        })
        .catch(e => {
          console.log(e.response);
          this.mensaje.color = "danger";
          this.mensaje.texto = e.response.data.error;
          this.showAlert();
        });
      }
    },
    deletedUser(id) {
      // console.log(id);
      let config = {
        headers: {
          Authorization: "Bearer " + this.token
        }
      };
      this.axios
        .delete(`/users/${id}`, config)
        .then(res => {
          const index = this.users.findIndex(item => item._id === res.data._id);
          this.users.splice(index, 1);
          this.listUsers();

          this.mensaje.color = "success";
          this.mensaje.texto = "¡Usuario Eliminado!";
          this.showAlert();
        })
        .catch(e => {
          console.log(e.response);
          this.mensaje.color = "danger";
          this.mensaje.texto = e.response.data.error;
          this.showAlert();
        });
    },
    activeEditionUser(id) {
      let config = {
        headers: {
          Authorization: "Bearer " + this.token
        }
      };
      this.edit = true;
      this.axios
        .get(`/users/${id}`, config)
        .then(res => {
          this.userEdit = res.data;
        })
        .catch(e => {
          console.log(e.response);
          this.mensaje.color = "danger";
          this.mensaje.texto = e.response.data.error;
          this.showAlert();
        });
    },
    editUser(item) {
      // console.log(item);
      let config = {
        headers: {
          Authorization: "Bearer " + this.token
        }
      };
      this.axios
        .patch(`/users/${item.id}`, item, config)
        .then(res => {
          const index = this.users.findIndex(u => u._id === res.data._id);
          this.users[index].email = res.data.email;
          this.users[index].phone = res.data.phone;
          this.users[index].firstname = res.data.firstname;
          this.users[index].lastname = res.data.lastname;
          this.listUsers();

          this.mensaje.color = "success";
          this.mensaje.texto = "¡Usuario Actualizado!";
          this.showAlert();
          this.edit = false;
        })
        .catch(e => {
          console.log(e.response);
          this.mensaje.color = "danger";
          this.mensaje.texto = e.response.data.error;
          this.showAlert();
        });
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    }
  }
};
</script>
