<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
       <router-link to="/about">About</router-link> |
      <router-link to="/login" v-if="!stateActive">Login</router-link> |
      <a type="button" @click="logoutSession()" v-if="stateActive">logout</a> |
      <router-link to="/users" v-if="stateActive">Users</router-link> 
    </div>
    <router-view/>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  methods: {
    ...mapActions(['logoutSession', 'readToken'] )
  },
  computed: {
    ...mapGetters(['stateActive'])
  },
  created(){
    this.readToken();
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
